.container {
  margin: 0 20px;
  align-items: center;

  .profile {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    max-width: $max-page-width;
    align-items: center;
    justify-content: center;

    .photo-list {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      .row {
        display: flex;
        width: 100%;
        flex-direction: row;
        margin-bottom: 28px;

        > div {
          margin-right: 28px;
        }

        > div:last-child {
          margin-right: 0px;
        }
      }
    }
  }
}
